################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lider-V-Backend/.vs/Lider-V-Backend/FileContentIndex/132c930c-9e22-4020-a3a6-e639017177ce.vsidx
/Lider-V-Backend/.vs/Lider-V-Backend/FileContentIndex/3033aee7-09e8-48cf-bb13-7069a908742d.vsidx
/Lider-V-Backend/.vs/Lider-V-Backend/FileContentIndex/5d210181-fd2d-4e79-be66-9041ac8377a9.vsidx
